{
  "extends": [
    "adenvt"
  ],
  "env": {
    "browser": true
  },
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "globals": {
    "$": true,
    "_": true,
    "jQuery": true,
    "moment": true,
    "axios": true,
    "Vue": true,
    "CONFIG": true,
    "__VERSION": true
  }
}
