{
  "extends": [
    "adenvt"
  ],
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "globals": {
    "$": true,
    "_": true,
    "jQuery": true,
    "moment": true,
    "axios": true,
    "Vue": true,
    "CONFIG": true
  }
}
