{
  "extends": [
    "stylelint-config-sass-guidelines"
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "max-nesting-depth": 7,
    "no-descending-specificity": null,
    "selector-max-compound-selectors": null,
    "property-no-vendor-prefix": null,
    "scss/at-extend-no-missing-placeholder": null,
    "selector-no-qualifying-type": null
  }
}
