.breadcrumb-menu {
  margin-left: auto;

  &::before {
    display: none;
  }

  .btn-group {
    vertical-align: top;
  }

  .btn {
    border: 0;
    color: $text-muted;
    padding: 0 $input-btn-padding-x;
    vertical-align: top;

    &:hover,
    &.active {
      background: transparent;
      color: $body-color;
    }
  }

  .open {
    .btn {
      background: transparent;
      color: $body-color;
    }
  }

  .dropdown-menu {
    line-height: $line-height-base;
    min-width: 180px;
  }
}
